# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/node_modules
/backend/node_modules
/build
/dist

# cypress
/cypress/downloads
/cypress/screenshots
/cypress/videos

# misc
.DS_Store
/Test-Design-Masterclass-turma-2.code-workspace
